# Entorno virtual
venv/
ENV/
env/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log

# Configs temporales
*.env
.env*
*.ini

# Datos generados por HuggingFace/Transformers
.cache/
huggingface/
hf_cache/
models/

# Archivos de editor
.vscode/
.idea/

# Archivos del sistema operativo
Thumbs.db
Desktop.ini

# Archivos de compilación o paquetes
build/
dist/
*.egg-info/
